<p><strong>Chair:</strong><br>
Petra Goedde<br>
922 Gladfelter Hall<br>
<a href="mailto:pgoedde@temple.edu">pgoedde@temple.edu</a></p>
<hr>
<p><strong>Director of Graduate Studies:</strong><br>
Bryant Simon<br>
949 Gladfelter Hall<br>
<a href="mailto:brysimon@temple.edu">brysimon@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Yvonne Muchemi<br>
1008A Gladfelter Hall<br>
<a href="tel:2152049209">(215) 204-9209</a><br>
<a href="mailto:ymuchemi@temple.edu">ymuchemi@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Vangeline Campbell<br>
911 Gladfelter Hall<br>
<a href="tel:2152047839">(215) 204-7839</a><br>
<a href="mailto:vcampbel@temple.edu">vcampbel@temple.edu</a></p>
<hr>
<p><strong>MA Coordinator:</strong><br>
Mónica Ricketts<br>
921 Gladfelter Hall<br>
<a href="mailto:monica.ricketts@temple.edu">monica.ricketts@temple.edu</a></p>
<hr>
<p><strong>MA Public History Coordinator:</strong><br>
Seth Bruggeman<br>
942 Gladfelter Hall<br>
<a href="mailto:scbrug@temple.edu">scbrug@temple.edu</a></p>
