<p><strong>Chair:</strong><br>
Jay Lockenour<br>
909 Gladfelter Hall<br>
<a href="tel:2152047437">(215) 204-7437</a><br>
<a href="mailto:jay.lockenour@temple.edu">jay.lockenour@temple.edu</a></p>
<hr>
<p><strong>Graduate Chair</strong><br>
Alan McPherson<br>
918 Gladfelter Hall<br>
<a href="mailto:alan.mcpherson@temple.edu">alan.mcpherson@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Yvonne Muchemi<br>
1008A Gladfelter Hall<br>
<a href="tel:2152046678">(215) 204-6678</a><br>
<a href="mailto:ymuchemi@temple.edu">ymuchemi@temple.edu</a></p>
<hr>
<p><strong>Coordinators:</strong><br>
Djuna Witherspoon<br>
910 Gladfelter Hall<br>
<a href="tel:2152044997">(215) 204-4997</a><br>
<a href="mailto:djuna@temple.edu">djuna@temple.edu</a></p>
<hr>
<p>Vangeline Campbell<br>
911 Gladfelter Hall<br>
<a href="tel:2152047839">(215) 204-7839</a><br>
<a href="mailto:vcampbel@temple.edu">vcampbel@temple.edu</a></p>
<hr>
<p><strong>MA Coordinator:</strong><br>
Jessica Roney<br>
950 Gladfelter Hall<br>
<a href="mailto:jessica.roney@temple.edu">jessica.roney@temple.edu</a></p>
<hr>
<p><strong>MA Public History Coordinator:</strong><br>
Seth Bruggeman<br>
942 Gladfelter Hall<br>
<a href="mailto:scbrug@temple.edu">scbrug@temple.edu</a></p>
