<p><strong>Interim Chair:</strong><br>
Eileen Ryan<br>
945 Gladfelter Hall<br>
<a href="mailto:eileen.ryan@temple.edu">eileen.ryan@temple.edu</a></p>
<hr>
<p><strong>Director of Undergraduate Studies:</strong><br>
Peter Lavelle<br>
860 Gladfelter Hall<br>
<a href="mailto:plavelle@temple.edu">plavelle@temple.edu</a></p>
<hr>
<p><strong>Administrator:</strong><br>
Yvonne Muchemi<br>
1008A Gladfelter Hall<br>
<a href="tel:2152046678">(215) 204-6678</a><br>
<a href="mailto:ymuchemi@temple.edu">ymuchemi@temple.edu</a></p>
<hr>
<p><strong>Coordinators:</strong><br>
Djuna Witherspoon<br>
910 Gladfelter Hall<br>
<a href="tel:2152044997">(215) 204-4997</a><br>
<a href="mailto:djuna@temple.edu">djuna@temple.edu</a></p>
<p>Vangeline Campbell<br>
911 Gladfelter Hall<br>
<a href="tel:2152047839">(215) 204-7839</a><br>
<a href="mailto:vcampbel@temple.edu">vcampbel@temple.edu</a></p>
