<h2>Affiliated Faculty</h2>
  
<p> The following faculty from other departments and colleges have courtesy appointments in the Department of History.</p>
  
  <ul>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/christian-terence" title="Terence Christian">Terence Christian</a><p><strong>(PhD University of Glasgow 2014), Military History, Aviation History and Archaeology, Material Culture</strong></p></li> 
 <li><strong>Joseph S. Foster</strong><p><strong>(PhD Temple 1989- DPAA Post-Doctoral Fellow), Early American, Revolution & Early National, Pennsylvania</strong></p></li>
 <li><strong>Rebecca Lloyd</strong><p><strong>(MLIS Wisconsin-Milwaukee 2005, MA Penn State 2010), Librarian, Temple University Libraries, Subject Liaison to History, Spanish, and Latin American Studies</strong></p></li>   
 <li><a href="mailto:msly@temple.edu" title="Margery N. Sly">Margery N. Sly</a><p><strong>(MA, MS, Case Western Reserve University), CA, FSAA, Director, Temple University Libraries Special Collections, Archives Management</strong></p></li>   
  </ul>
