<h2>Affiliated Faculty</h2>
  
<p> The following faculty from other departments and colleges have courtesy appointments in the Department of History.</p>
  
  <ul>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/christian-terence">Terence Christian</a> (PhD University of Glasgow 2014)<br/><em>Military History, Aviation History and Archaeology, Material Culture</em></li><br> 
 <li>Joseph S. Foster&nbsp;(PhD Temple 1989- DPAA Post-Doctoral Fellow)<br /><em>Early American, Revolution &amp; Early National, Pennsylvania</em></li>
 <li>Rebecca Lloyd&nbsp;(MLIS Wisconsin-Milwaukee 2005, MA Penn State 2010)<br /><em>Librarian, Temple University Libraries, Subject Liaison to History, Spanish, and Latin American Studies</em></li>
 <li><a title="Tim Patterson" href="mailto:timothy.patterson@temple.edu">Tim Patterson&nbsp;</a>(PhD Columbia, MA University of Pennsylvania)<br /><em>Teacher Education, Global Studies, History of Education</em></li>   
 <li><a title="Margery N. Sly" href="mailto:msly@temple.edu">Margery N. Sly&nbsp;</a>(MA, MS, Case Western Reserve University)<br /><em>CA, FSAA, Director, Temple University Libraries Special Collections, Archives Management</em></li>   
  </ul>

<hr>
