<h2>Affiliated Faculty</h2>
  
<p> The following faculty from other departments and colleges have courtesy appointments in the Department of History.</p>
  
  <ul>
 <li><a href="https://liberalarts.temple.edu/academics/faculty/christian-terence">Terence Christian (Ph.D. University of Glasgow 2014- Military History, Aviation History and Archaeology, Material Culture)</a></li>
 <li><a href="">Joseph S. Foster (Ph D Temple 1989- DPAA Post-Doctoral Fellow, – Early American, Revolution & Early National, Pennsylvania)</a></li>
 <li><a href="">Rebecca Lloyd (MLIS Wisconsin-Milwaukee 2005, MA Penn State 2010- Librarian, Temple University Libraries, Subject Liaison to History, Spanish, and Latin American Studies)</a></li>
 <li><a href="https://library.temple.edu/about/staff/margery-n-sly">Margery N. Sly (MA, MS, Case Western Reserve University - CA, FSAA, Director, Temple University Libraries Special Collections, Archives Management)</a></li>
  </ul>
