<div>
  <h2>Retired and Emeritus Faculty</h2>
    <p>Retired and emeriti professors maintain connections to the Department but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 

      <ul> 
        <li><a title="Kathleen Biddick" href="https://liberalarts.temple.edu/academics/faculty/biddick-kathleen">Kathleen Biddick&nbsp;</a>(PhD University of Toronto 1982)<br/> <em>Premodern Studies, Political Theology, Historiography, Critical Theory, Sovereignty</em></li>
        </ul>
        <ul>   
        <li>William W. Cutler III (PhD Cornell 1968)<br/> <em>U.S. Education</em></li>
        </ul> 
        <ul> 
        <li>Allen F. Davis - <em>U.S. Intellectual and Cultural, Women, Public</em></li>
        </ul>
        <ul> 
        <li>Barbara Day-Hickman (PhD California, Irvine 1986)<br/> <em>France, Cultural</em></li>
        </ul>
        <ul> 
        <li>Michael M. Eisman (PhD Pennsylvania 1971)<br/> <em>Greece, Ancient</em></li>
        </ul>
        <ul> 
        <li>Herbert Ershkowitz - <em>19th-Century U.S., Political</em></li>
        </ul>
        <ul> 
        <li><a title="Philip Evanson" href="https://liberalarts.temple.edu/academics/faculty/evanson-philip">Philip Evanson -&nbsp;</a><em>Brazil, Latin America</em></li>
        </ul>
        <ul> 
        <li>Herbert Ershkowitz - <em>19th-Century U.S., Political</em></li>
        </ul>
        <ul>   
        <li>James Hilty (PhD Missouri 1973)<br/> 20th-Century U.S</li> 
      </ul>
    </div>
          
    <div class="row">
      <div class="col s12 m6"> 
        
        <ul> 
          <li><a title="Richard Immerman" href="https://liberalarts.temple.edu/academics/faculty/immerman-richard-h">Richard Immerman&nbsp;</a>(PhD Boston College 1978)<br /> <em>U.S. Foreign Policy, Grand Strategy, 20th-Century</em></li>
          </ul>
          <ul>   
          <li><a title="Susan Klepp" href="mailto:sklepp@temple.edu">Susan Klepp&nbsp;</a>(PhD Pennsylvania 1980)<br /><em>Colonial America, Women, Social</em></li>
          </ul>
          <ul>   
          <li><a title="Kenneth Kusmer" href="https://liberalarts.temple.edu/academics/faculty/kusmer-kenneth">Kenneth Kusmer -&nbsp;</a><em>Social, Urban, Media, Race, 19th and 20th Century</em></li>
          </ul>
          <ul>  
          <li>Howard Ohline - <em>U.S. Early National</em></li>
          </ul>
          <ul>   
          <li><a title="Harriet Pass Freidenreich " href="https://liberalarts.temple.edu/academics/faculty/pass-freidenreich-harriet">Harriet Pass Freidenreich&nbsp;</a>(PhD 1973)<br /><em>Jewish History, Women&rsquo;s History, Jewish Women, European Women, Eastern Europe, Yugoslavia, Vienna</em></li>
          </ul>
          <ul>   
          <li><a title="Arthur Schmidt" href="https://liberalarts.temple.edu/academics/faculty/schmidt-arthur-0">Arthur Schmidt&nbsp;</a>(PhD Indiana University)<br /><em>Latin American History</em></li>
          </ul>
          <ul>   
          <li>Morris Vogel (PhD Chicago 1974)<br /><em>US Social &amp; Cultural History, Medical History, Public History</em></li>
        </ul>
      </div>
    </div>
