<div>
  <h2>Emeritus Faculty</h2>
    <p>Retired and emeriti professors maintain connections to the Department but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 

      <ul>
        <li><a href="https://liberalarts.temple.edu/academics/faculty/biddick-kathleen" title="Terence Christian">Terence Christian</a><p><strong>(PhD University of Glasgow 2014), Military History, Aviation History and Archaeology, Material Culture</strong></p></li> 
        <li><strong>William W. Cutler III</strong><p><strong>(PhD Cornell 1968), U.S. Education</strong></p></li>
        <li><strong>Allen F. Davis</strong><p><strong>U.S. Intellectual and Cultural, Women, Public</strong></p></li>
        <li><strong>Barbara Day-Hickman</strong><p><strong>(PhD California, Irvine 1986), France, Cultural</strong></p></li>
        <li><strong>Michael M. Eisman</strong><p><strong>(PhD Pennsylvania 1971), Greece, Ancient</strong></p></li>
        <li><strong>Herbert Ershkowitz</strong><p><strong>19th-Century U.S., Political</strong></p></li>   
        <li><a href="https://liberalarts.temple.edu/academics/faculty/evanson-philip" title="Philip Evanson">Philip Evanson</a><p><strong>Brazil, Latin America</strong></p></li>
      </ul>
    </div>
          
    <div class="row">
      <div class="col s12 m6"> 
        
        <ul>
          <li><strong>James Hilty</strong><p><strong>(PhD Missouri 1973), 20th-Century U.S</strong></p></li>   
          <li><a href="https://liberalarts.temple.edu/academics/faculty/immerman-richard-h" title="Richard Immerman">Richard Immerman</a><p><strong>(PhD Boston College 1978), U.S. Foreign Policy, Grand Strategy, 20th-Century</strong></p></li>  
          <li><a href="mailto:sklepp@temple.edu" title="Susan Klepp">Susan Klepp</a><p><strong>(PhD Pennsylvania 1980), Colonial America, Women, Social</strong></a></p></li> 
          <li><strong>Howard Ohline</strong><p><strong>U.S. Early National</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pass-freidenreich-harriet" title="Harriet Pass Freidenreich ">Harriet Pass Freidenreich </a><p><strong>(PhD 1973), Jewish History, Women’s History, Jewish Women, European Women, Eastern Europe, Yugoslavia, Vienna</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/schmidt-arthur-0" title="Arthur Schmidt">Arthur Schmidt</a><p><strong>(PhD Indiana University), Latin American History</strong></p></li>
          <li><strong>Morris Vogel</strong><p><strong>(PhD Chicago 1974), US Social & Cultural History, Medical History, Public History</strong></p></li>    
        </ul>
      </div>
    </div>
