<div>
  <h2>Retired and Emeritus Faculty</h2>
    <p>Retired and emeriti professors maintain connections to the Department but rarely teach courses. Emeriti professors also may retain office space or other privileges in the Department.</p>
</div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 

      <ul> 
        <li><a title="Kathleen Biddick" href="https://liberalarts.temple.edu/academics/faculty/biddick-kathleen">Kathleen Biddick&nbsp;</a>(PhD University of Toronto 1982)<br/> <em>Premodern Studies, Political Theology, Historiography, Critical Theory, Sovereignty</em></li>
        </ul>
        <ul>   
        <li>William W. Cutler III (PhD Cornell 1968)<br/> <em>U.S. Education</em></li>
        </ul> 
        <ul> 
        <li>Allen F. Davis - <em>U.S. Intellectual and Cultural, Women, Public</em></li>
        </ul>
        <ul> 
        <li>Barbara Day-Hickman (PhD California, Irvine 1986)<br/> <em>France, Cultural</em></li>
        </ul>
        <ul> 
        <li>Michael M. Eisman (PhD Pennsylvania 1971)<br/> <em>Greece, Ancient</em></li>
        </ul>
        <ul> 
        <li>Herbert Ershkowitz - <em>19th-Century U.S., Political</em></li>
        </ul>
        <ul> 
        <li><a title="Philip Evanson" href="https://liberalarts.temple.edu/academics/faculty/evanson-philip">Philip Evanson -&nbsp;</a><em>Brazil, Latin America</em></li>
        </ul>
        <ul> 
        <li>Herbert Ershkowitz - <em>19th-Century U.S., Political</em></li>
        </ul>
        <ul> 
        <li>James Hilty (PhD Missouri 1973)<br/> 20th-Century U.S</li>
      </ul>
    </div>
          
    <div class="row">
      <div class="col s12 m6"> 
        
        <ul>    
          <li><a href="https://liberalarts.temple.edu/academics/faculty/immerman-richard-h" title="Richard Immerman">Richard Immerman</a><p><strong>(PhD Boston College 1978), U.S. Foreign Policy, Grand Strategy, 20th-Century</strong></p></li>  
          <li><a href="mailto:sklepp@temple.edu" title="Susan Klepp">Susan Klepp</a><p><strong>(PhD Pennsylvania 1980), Colonial America, Women, Social</strong></a></p></li> 
          <li><a href="https://liberalarts.temple.edu/academics/faculty/kusmer-kenneth" title="Kenneth Kusmer">Kenneth Kusmer</a><p><strong>Social, Urban, Media, Race, 19th and 20th Century</strong></p></li>
          <li><strong>Howard Ohline</strong><p><strong>U.S. Early National</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/pass-freidenreich-harriet" title="Harriet Pass Freidenreich ">Harriet Pass Freidenreich </a><p><strong>(PhD 1973), Jewish History, Women’s History, Jewish Women, European Women, Eastern Europe, Yugoslavia, Vienna</strong></p></li>
          <li><a href="https://liberalarts.temple.edu/academics/faculty/schmidt-arthur-0" title="Arthur Schmidt">Arthur Schmidt</a><p><strong>(PhD Indiana University), Latin American History</strong></p></li>
          <li><strong>Morris Vogel</strong><p><strong>(PhD Chicago 1974), US Social & Cultural History, Medical History, Public History</strong></p></li>    
        </ul>
      </div>
    </div>
