<div>
  <h2>Graduate Students</h2>
    <p>Our graduate students are an intricate part of the learning and teaching experience here in the Department of History. They conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
         
      <ul>
        <li><a href="" title="Susannah Burger">Susannah Burger</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/history/cohen-ethan" title="Ethan Cohen">Ethan Cohen</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/history/cook-paul" title="Paul Cook">Paul Cook</a></li>
        <li><a href="" title="Graydon Dennison">Graydon Dennison</a></li>
        <li><a href="" title="Donald Dostie">Donald Dostie</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/history/fischer-michael" title="Michael Fischer">Michael Fischer</a></li>
        <li><a href="" title="Jonathan Forrester">Jonathan Forrester</a></li>
        <li><a href="" title="Abigail Gruber">Abigail Gruber</a></li>
        <li><a href="https://liberalarts.temple.edu/academics/departments/history/hollon-cory" title="Cory Hollon">Cory Hollon</a></li>
        <li><a href="" title="Madison Ingram">Madison Ingram</a></li>
        <li><a href="" title="Brandon Kinney">Brandon Kinney</a></li>
        <li><a href="" title="Brandon Knox">Duncan Knox</a></li>
        <li><a href="" title="Ryan Langton">Ryan Langton</a></li>
        <li><a href="" title="Charles Lannutti">Charles Lannutti</a></li>
        <li><a href="" title="Megan McGraw">Megan McGraw</a></li>
      </ul>
    </div>

    <div class="row">
      <div class="col s12 m6">
  
        <ul>
          <li><a href="" title="Daniel Pace">Daniel Pace</a></li>
          <li><a href="" title="Grace Parker">Grace Parker</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/history/perinovic-eric" title="Eric Perinovic">Eric Perinovic</a></li>
          <li><a href="" title="Audrey Rankin">Audrey Rankin</a></li>
          <li><a href="" title="Keith Riley">Keith Riley</a></li>
          <li><a href="" title="Adrianna Rosamilia">Adrianna Rosamilia</a></li>
          <li><a href="" title="Andrew Santora">Andrew Santora</a></li>
          <li><a href="" title="Stanley Schwartz">Stanley Schwartz</a></li>
          <li><a href="" title="Emilee Shindel">Emilee Shindel</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/history/stern-josh" title="Joshua Stern">Joshua Stern</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/history/summers-amanda" title="Amanda Summers">Amanda Summers</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/history/vansise-casey" title="Casey VanSise">Casey VanSise</a></li>
          <li><a href="https://liberalarts.temple.edu/academics/departments/history/waters-laura" title="Laura Waters">Laura Waters</a></li>
          <li><a href="" title="Abby Whitaker">Abby Whitaker</a></li>
        </ul>
      </div>
    </div>
  </div>
