<div>
  <h2>Graduate Students</h2>
    <p>Our graduate students are an intricate part of the learning and teaching experience here in the Deparment of History. Our graduate students conduct research, teach courses and work closely with various faculty members and students throughout the department.</p>
  </div>
<div class="container">
  <div class="row">
    <div class="col s12 m6"> 
         
      <ul>
        <li><a href="mailto:minju.bae@temple.edu" title="Minju Bae">Minju Bae</a></li>
        <li><a href="mailto:tyler.bamford@temple.edu" title="Tyler Bamford">Tyler Bamford</a></li>
        <li><a href="mailto:steven.baumann@temple.edu" title="Steven Baumann">Steven Baumann</a></li>
        <li><a href="mailto:jean-pierre.beugoms@temple.edu" title="Jean Pierre Beugoms">Jean Pierre Beugoms</a></li>
        <li><a href="mailto:jessica.bird@temple.edu" title="Jessica Bird">Jessica Bird</a></li> 
        <li><a href="mailto:paul.braff@temple.edu" title="Paul Braff">Paul Braff</a></li>
        <li><a href="mailto:acaillot@temple.edu" title="Alexandre Caillot">Alexandre Caillot</a></li>
        <li><a href="mailto:david.callahan001@temple.edu" title="David Callahan">David Callahan</a></li>
        <li><a href="mailto:taylor.christian@temple.edu" title="Taylor Christian">Taylor Christian</a></li>
        <li><a href="mailto:paul.jeffrey.cook@temple.edu" title="Paul Cook">Paul Cook</a></li>
        <li><a href="mailto:james.cookthajudeen@temple.edu" title="James Cook-Thajudeen">James Cook-Thajudeen</a></li>
        <li><a href="mailto:daniel.cormier@temple.edu" title="Daniel Cormier">Daniel Cormier</a></li>
        <li><a href="mailto:jesse.curtis@temple.edu" title="Jessie Curtis">Jessie Curtis</a></li>
        <li><a href="mailto:samuel.davis@temple.edu" title="Samuel Davis">Samuel Davis</a></li>
        <li><a href="mailto:lauren.deangelis@temple.edu" title="Lauren De Angelis">Lauren De Angelis</a></li>  
        <li><a href="mailto:michael.diaz@temple.edu" title="Michael Diaz">Michael Diaz</a></li>
        <li><a href="mailto:patrice.laurent@temple.edu" title="Patrice Diaz">Patrice Diaz</a></li>
        <li><a href="mailto:tue93380@temple.edu" title="Menika Dirkson">Menika Dirkson</a></li>
        <li><a href="mailto:manna.duah@temple.edu" title="Manna Duah">Manna Duah</a></li>
        <li><a href="mailto:alexander.elkins@temple.edu" title="Alexander Elkins">Alexander Elkins</a></li>
        <li><a href="mailto:steven.elliott@temple.edu" title="Steven Elliott">Steven Elliott</a></li>
        <li><a href="mailto:richardkentevans@temple.edu" title="Richard Evans">Richard Evans</a></li>  
        <li><a href="mailto:michael.fischer001@temple.edu" title="Michael Fischer">Michael Fischer</a></li>
        <li><a href="mailto:levi.fox@temple.edu" title="Levi Fox">Levi Fox</a></li>
        <li><a href="mailto:mathias.james.fuelling@temple.edu" title="Mathias Fuelling">Mathias Fuelling</a></li>
        <li><a href="mailto:abigail.gruber@temple.edu" title="Abigail Gruber">Abigail Gruber</a></li>
        <li><a href="mailto:stephen.hausmann@temple.edu" title="Stephen Hausmann">Stephen Hausmann</a></li>
        <li><a href="mailto:lhelfman@temple.edu" title="Lindsay Helfman">Lindsay Helfman</a></li>
        <li><a href="mailto:mkhohe@gmail.com" title="Meredith Hohe">Meredith Hohe</a></li>
        <li><a href="mailto:joseph.thomas.humnicky@temple.edu" title="Joseph Humnicky">Joseph Humnicky</a></li>
        <li><a href="mailto:adam.klabe@temple.edu" title="Adam Klabe">Adam Klabe</a></li>
        <li><a href="mailto:james.kopaczewski@temple.edu" title="James Kopaczewski">James Kopaczewski</a></li>
        <li><a href="mailto:demian.larry@temple.edu" title="Demian Larry">Demian Larry</a></li>
        <li><a href="mailto:joshua.lawson001@temple.edu" title="Joshua Lawson">Joshua Lawson</a></li>
        <li><a href="mailto:michael.mackintosh@temple.edu" title="Michael Mackintosh">Michael Mackintosh</a></li>
        <li><a href="mailto:devinmzt@temple.edu" title="Devin Manzullo-Thomas">Devin Manzullo-Thomas</a></li>
        <li><a href="mailto:shawn.mcghee@temple.edu" title="Shawn McGhee">Shawn McGhee</a></li>
        <li><a href="mailto:richardkentevans@temple.edu" title="Brian McNamara">Brian McNamara</a></li>
      </ul>
    </div>
          
    <div class="row">
      <div class="col s12 m6">
        
       <ul>
         <li><a href="mailto:catherine.murray@temple.edu" title="Catherine Murray">Catherine Murray</a></li>
         <li><a href="mailto:ariel.natalo-lifton@temple.edu" title="Ariel Natalo-Lifton">Ariel Natalo-Lifton</a></li> 
         <li><a href="mailto:kaete.oconnell@temple.edu" title="Kaete O’Connell">Kaete O’Connell</a></li>
         <li><a href="mailto:brian.mcnamara@temple.edu" title="Daniel Pace">Daniel Pace</a></li>
         <li><a href="mailto:eric.perinovic@temple.edu" title="Eric Perinovic">Eric Perinovic</a></li> 
         <li><a href="mailto:thomas.reinstein@temple.edu" title="Tom Reinstein">Tom Reinstein</a></li> 
         <li><a href="mailto:keith.riley@temple.edu" title="Keith Riley">Keith Riley</a></li> 
         <li><a href="mailto:travis.b.roy@temple.edu" title="Adrianna Rosamilia">Adrianna Rosamilia</a></li> 
         <li><a href="mailto:brian.mcnamara@temple.edu" title="Travis Roy">Travis Roy</a></li> 
         <li><a href="mailto:gary.scales@temple.edu" title="Gary Scales">Gary Scales</a></li> 
         <li><a href="mailto:siotto.andrea@temple.edu" title="Andrea Siotto">Andrea Siotto</a></li> 
         <li><a href="mailto:alexandra.straub@temple.edu" title="Alexandra Straub">Alexandra Straub</a></li> 
         <li><a href="mailto:luke.swinson@temple.edu" title="Luke Swinson">Luke Swinson</a></li> 
         <li><a href="mailto:seth.tannenbaum@temple.edu" title="Seth Tannenbaum">Seth Tannenbaum</a></li> 
         <li><a href="mailto:david.thomas@temple.edu" title="David Thomas">David Thomas</a></li> 
         <li><a href="mailto:tue62259@temple.edu" title="Kanako Yamana">Kanako Yamana</a></li> 
         <li><a href="mailto:silke.zoller@temple.edu" title="Silke Zoller">Silke Zoller</a></li>   
         <li><a href="mailto:derek.duquette@temple.edu" title="Derek Duquette">Derek Duquette</a></li>
         <li><a href="mailto:derek.engle@temple.edu" title="Derek Engle">Derek Engle</a></li>
         <li><a href="mailto:joy.feagan@temple.edu" title="Joy Feagan">Joy Feagan</a></li>
         <li><a href="mailto:cynthia.heider@temple.edu" title="Cynthia Heider">Cynthia Heider</a></li>
         <li><a href="mailto:charles.robert.hersh@temple.edu" title="Charlie Hersh">Charlie Hersh</a></li>  
         <li><a href="mailto:theodore.maust@temple.edu" title="Ted Maust">Ted Maust</a></li>
         <li><a href="mailto:ccreed@temple.edu" title="Chelsea Reed">Chelsea Reed</a></li>
         <li><a href="mailto:johnesmithIII@temple.edu" title="John Smith">John Smith</a></li>
         <li><a href="mailto:gvgk.tang@temple.edu" title="GVGK Tang">GVGK Tang</a></li>
         <li><a href="mailto:jacob.brown001@temple.edu" title="Jacob Brown">Jacob Brown</a></li>
         <li><a href="mailto:james.del.dotto@temple.edu" title="James Del Dotto">James Del Dotto</a></li>
         <li><a href="mailto:michael.thomas.esser@temple.edu" title="Michael Esser">Michael Esser</a></li>
         <li><a href="mailto:laurie.fitzpatrick@temple.edu" title="Laurie Fitzpatrick">Laurie Fitzpatrick</a></li>
         <li><a href="mailto:mark.joseph.morrison@temple.edu" title="Mark Morrison">Mark Morrison</a></li>
         <li><a href="mailto:ian.sykes@temple.edu" title="Ian Sykes">Ian Sykes</a></li>
        </ul>
      </div>
    </div>
