<div class="container">
  <h2>Alumni Spotlight</h2>
   <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="/faith-thomas"> Thomas Faith </a>
      <p>When I started as a freshman at Temple University, I had an interest in history but was planning to earn a degree in biology. I took History of the World Economy Since 1945 with Dr. Arthur Schmidt my first semester, loved the coursework, and decided to pursue history as a career in the year that followed. I consider myself fortunate that I was able to experience so many great history courses and instructors at Temple while earning my degree.
         I decided to enter the PhD program at George Washington University after I graduated in 2001, and was amazed at the experiences that are available to history grad students. I interned with the Army Center of Military History during the 50th anniversary of the Korean War, worked at the Eleanor Roosevelt Papers document editing project, briefly returned to Philadelphia as a research fellow at the Chemical Heritage Foundation, and got to perform historical research at repositories across the Washington, DC area.
         In 2005 I became the history and political science teacher at the U.S. House of Representatives Page Program School on Capitol Hill, and I remained on staff after I earned my Ph.D. in 2008. I enjoyed the sense of mission I felt doing historical work in federal service so, after a career setback when the Page Program ended in 2011, I became a historian at the Department of State. Now I edit historically significant foreign policy documents for the Foreign Relations of the United States series, and I recently published my first book, Behind the Gas Mask: The U.S. Chemical Warfare Service in War and Peace. I am very grateful that my years as an undergraduate at Temple helped me to decide to build a career in history.</p>
    </div>
    <div class="col s12 m3 pull-m4">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/History/blob/master/media/alumni-spotlight/resized%20Thomas-Faith-683x1024.jpg" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="/gottesman-alex"> Alex Gottesman </a>
      <p> Politics and the Street in Democratic Athens, Cambridge University Press, 2014 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/ancient-history/politics-and-street-democratic-athens">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20GottesmanCover-204x300.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="/hersch-karen"> Karen Hersch </a>
      <p> The Roman Wedding: Ritual and Meaning in Antiquity, Cambridge University Press, 2010 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/ancient-history/roman-wedding-ritual-and-meaning-antiquity">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20Hersch%20cover%20200x300.jpg?raw=true" alt=""></a>
    </div>
  </div>
  <div class="row card">
    <div class="col s12 m4 push-m3">
      <a class="flow-text" href="/mitchell-boyask-robin"> Robin Mitchell-Boyask </a>
      <p> Plague and the Athenian Imagination: Drama, History, and the Cult of Asclepius, Cambridge University Press, 2011 </p>
      <p> Aeschylus: Eumenides, Duckworth 2009 </p>
    </div>
    <div class="col s12 m3 pull-m4">
      <a href="http://www.cambridge.org/us/academic/subjects/classical-studies/classical-literature/plague-and-athenian-imagination-drama-history-and-cult-asclepius">
      <img typeof="foaf:Image" src="https://github.com/TULiberalArts/Greek-and-Roman-Classics/blob/master/media/resized%20Boyask%20cover.jpg?raw=true" alt=""></a>
    </div>
  </div>
</div>
